// Color variables
$primary-color: #272727;
$text-color: #fff;
$secondary-color: #dbdbdb;

// Font weight variables
$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 600,
    "bold": 800,
);
